{% extends "::base.html.twig" %}

{% block title %}Dodawanie lub modyfikacja osoby{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path("addressbook_person_showindex")}}" class="btn btn-large btn-info">Powrót na główna</a>
        <br>
        <h3>Dane osobowe</h3>

        {{ form_start(formPerson) }}
        {{ form_widget(formPerson) }}
        {{ form_end(formPerson)}}

        <br>

        {% if formAddress is defined %}
            <h3>Dodaj nowy adres</h3>
            {{ form_start(formAddress) }}
            {{ form_widget(formAddress) }}
            {{ form_end(formAddress)}}
        {% endif %}
        <br>

        {% if formEmail is defined %}
            <h3>Dodaj nowy email</h3>
            {{ form_start(formEmail) }}
            {{ form_widget(formEmail) }}
            {{ form_end(formEmail)}}
        {% endif %}
        <br>

        {% if formPhone is defined %}
            <h3>Dodaj nowy telefon</h3>
            {{ form_start(formPhone) }}
            {{ form_widget(formPhone) }}
            {{ form_end(formPhone)}}
        {% endif %}

    </div>
{% endblock %}
